*{
    box-sizing: border-box;
}

html {
    font-size: calc(1em +1vw);
}

body{
font-family: "Barlow", sans-serif;
margin: 0;
background-color: white;
max-width: 100%;
display: grid;
grid-template-areas: "header"
"main_content"
"footer";
grid-template-columns: 1fr;
max-width: 1600px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center; 
    grid-area: header;
}

header a img{
    padding-top: 2rem;
  
}

header a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding: 0.3rem;
}

.contact{
    background-color: #e6bd43;
    margin-top: 2rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.indexbody .home{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #e6bd43;
    text-decoration-thickness: 3px;
}

.aboutbody .about{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #e6bd43;
    text-decoration-thickness: 3px;
}

.productbody .portfolio{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #e6bd43;
    text-decoration-thickness: 3px;
}
main{
    overflow-x: hidden;
    grid-area: main_content;
}

.Headline{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 500px;
}

.macbook{
    width: 200%;
    margin-top: 1rem; 
    overflow-x: hidden;
    
}

.mountains{
    width: 100%;


}

.Headline h1{
position: absolute;
margin-top: 3rem;
font-size: 2rem;
text-align: center;
font-weight:800;
margin-left: 3rem;
margin-right: 3rem;
}

.Headline p{
    position: absolute;
    margin-top: 10rem;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    width: 80%;
}

.services{
    background-color: #e6bd43;
    margin-top: 2rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    color: black;
    font-weight: 800;
    padding: 1rem;
    position: absolute;
    margin-top: 25rem;
}

.Subheading{
    margin-top: 5rem;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.about_company{
    background-color: #e6bd43;
    padding-bottom: 5rem;
    
}

.placeholderimg{
    width: 100%;
    padding: 3rem;
}
.about_company h3{
    padding-left: 5rem;
    padding-right: 5rem;
}

.about_company p{
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1.1rem;
    text-align: left;
    margin-bottom: 3rem;
}

.moreabout{
    color: black;
    font-weight: bold;
    text-decoration: none;
    border: black solid 2px;
    padding: 1rem;
    margin-left: 5rem;
}

.servicesh3{
    text-align: center;
    margin-top: 5rem;
    font-size: 1.5rem;
}
.ourservices{
    text-align: center;
    margin-top: 5rem;
    
}
.ourservices p{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
}

.newsletter{
    background-color: #e9e4e4;
     text-align: center;
     padding: 1rem;
}
.newsletter h2{
    margin-left: 2rem;
    margin-right: 2rem;
}

.email{
    border: none;
    padding: 0.5rem;
}
.emailsignup{
    display: none;
}

.signup{
    border: none;
    background-color: #e6bd43;
    padding: 0.5rem;
}

footer{
    background: #252525;
    padding: 5rem;
    grid-area: footer;
    text-align: center;
}
footer p{
    color: white;
    margin-right: auto;
    font-size: 1.5rem;
}
footer a{
    margin: 1rem;
}
.scrolltop{
    text-align: center;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: #252525;
    border-radius: 10%;
    padding-top: 1rem;
}

@media (max-width: 1024px){
    .mountains{
        display: none;
    }   
}

@media (min-width: 1025px) {
.indexbody{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main_content main_content main_content"
    "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
}
    .header{
        display:flex;
        flex-direction: row;
        align-items: center;
        grid-area: header;
        width: 100%;  
    }

    .header a:first-of-type{
        margin-right: auto;
    }

    .header a{
        font-size: 1.5rem;
    }

    main{
        grid-area: main_content;
    }
    footer{
        grid-area: footer;
    }
    .contact{
        margin-top: 0;
        margin-right: 1rem;
    }
    .contact:hover{
        background-color: #252525;
        font-weight: bold;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: #e6bd43;
    }
    .macbook{
    display: none;
    }
    .Headline h1{
        font-size: 4rem;
    }

    .Headline p{
        font-size: 1.5rem;
        margin-top: 12rem;
        width: 50%;
    }

    .services{
        font-size: 1.5rem;
    }
    .services:hover{
        background-color: #252525;
        color: #e6bd43;
    }
    .Subheading{
        height: auto;
        margin-left: 20rem;
        margin-right: 20rem;
    }
    .Subheading h2{
        font-size: 4rem;
    
    }
    .Subheading p{
        font-size: 1.5rem;
        margin-bottom: 5rem;
    }
    .placeholderimg{
        width: 100%;
        grid-area: img;
    }
    .about_company{
        display: grid;
        grid-template-areas: 
        "img text text"
        "img text2 text2"
        "img button nothing";
     grid-template-columns: 1fr 1fr 1fr;
    }
    .about_company p{
        grid-area: text2;
        font-size: 1.5rem;
     
    }
    .about_company h3{
        grid-area: text;
        margin-top: auto;
        font-size: 3rem;

    }
        
    .about_company a{
        grid-area: button;
        width: 50%;
        text-align: center;
        height: 50%;
        font-size: 100%;
        border: 5px solid #252525;
    }
    .about_company a:hover{
        background-color: #252525;
        color: #e6bd43;
    }
    .servicesh3{
        font-size: 3rem;
        margin-bottom: 6rem;
    }
    .symbols{
        display: grid;
        grid-template-areas: 
        "symbol1 symbol2 symbol3 symbol4"
        "branding1 branding2 branding3 branding4"
        "filler1 filler2 filler3 filler4";
    }
    #symbol1{
        grid-area: symbol1;
    }
    #symbol2{
        grid-area: symbol2;
    }
    #symbol3{
        grid-area: symbol3;
    }
    #symbol4{
        grid-area: symbol4;
    }
   .branding1{
    grid-area: branding1;
   }
   .branding2{
    grid-area: branding2;
}
   .branding3{
    grid-area: branding3;
   }
   .branding4{
    grid-area: branding4;
   }
   .newsletter{
    padding-bottom: 3rem;
   }
   .newsletter h2{
    font-size: 3rem;
   }

.email{
    font-size: 2rem;
}
.signup{
    font-size: 2rem;
}
.signup:hover{
    color: #e6bd43;
    background-color: #252525;
    cursor: pointer;
}
footer{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;  
    align-items: center;
}

#facebook{
    margin: 1rem;
}
#instagram{

    margin: 1rem;
}
#linkedin{
    margin: 1rem;
}
.productbody{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main_content main_content main_content"
    "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
}

.aboutbody{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main_content main_content main_content"
    "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 500px){
    footer{
        display:flex;
        flex-direction: row;
        align-items: center;
        width: 100%;  
        align-items: center;
    }
    }
    footer img{
        margin-right: auto;
    }
    #facebook{
        margin: 1rem;
    }
    #instagram{
    
        margin: 1rem;
    }
    #linkedin{
        margin: 1rem;
    }
    .x400{
        transition: transform .2s;
    }
    .x400:hover{
        transform: scale(1.1);
    }

    .showoff a:hover{
        color: #e6bd43;
        background-color: #252525;
    }
}



/* Her begynner products.html */

.Headline2{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 500px;
    item
}

.macbook2{
    width: 200%;
    margin-top: 1rem; 
    overflow-x: hidden;
}

.portfoliotitle{
position: absolute;
margin-top: 15rem;
font-size: 2rem;
text-align: center;
font-weight:800;
margin-left: 3rem;
margin-right: 3rem;
}

.explore{
    text-align: left;
    padding-left: 3rem;
    padding-right: 3rem;
}

.explore h2{
    border-bottom: #e6bd43 solid 4px;
    padding-bottom: 1rem;
}
.showoff{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 3rem;
    padding-right: 3rem;
}
.showoff h2{
    display: none;
}
.showoff a{
    text-decoration: none;
    color: #252525;
    border: 2px solid #252525;
    padding: 0.5rem;
    margin: 0.5rem;
}


.brandingsec{
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-wrap: wrap;

}

.sectionhead{
    margin-left: 3rem;
    margin-right: 3rem;
}

.sectionhead h2{
    border-bottom: #e6bd43 solid 4px;
    padding-bottom: 1rem;
    font-size: 2rem;
}

.x400{
    margin-right: 1rem;
    height: auto;
    max-width: 100%;
}

.brandingsec article h3{
    font-size: 1.5rem;
}
.brandingsec h2{
    display: none;
}

/* Her begynner about siden*/

.Headline3 article{
    background-color: white;
    opacity: 0.8;
    position: absolute;
    margin-right: 3rem;
    margin-left: 3rem;
    text-align: left;
    top: 30rem;
    padding-bottom: 2rem;
    max-width: 1100px;
}
.Headline3 article p{
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.Headline3 h2{
    font-size: 2rem;
    margin-left: 1rem;
}

.macbook3{
    margin-top: 2rem;
    height: 1000px;
}

.Headline3 article a{
    background-color: #e6bd43;
    color: #252525;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.ourclients{
    text-align: center;
    background-color: #e6bd43;
    padding-bottom: 2rem;
}
.ourclients h2{
    padding-top: 2rem;
}

.ourclients img{
    margin: 0.5rem;
}
.contactus{
    text-align: center;
    background-color: #e9e7e7;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.contactus article{
    text-align: left;
    margin-left: 3rem;
}
.contactus h2{
    margin-top: 0;
}
.contactus article h3{
    font-size: 1.5rem;
    margin-top: 3rem;
}

.label{
    display:block;
    margin-bottom: 0.5rem;
}
#name{
    border: none;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.inputboxes{
    margin-left: 3rem;
    margin-right: 3rem;
}

#subject{
    border: none;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#message{
    border: none;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 10rem;
    margin-bottom: 0.5rem;
}

.sendmes{
    border: none;
    background-color: #e6bd43;
    padding: 1rem;
    font-weight: bold;
}

.continformation{
    margin-left: 3rem;
    margin-right: 3rem;
}

.continformation h2{
    margin-top: 7rem;
}

.continformation p{
    font-size: 1.3rem;
}
.headingyep{
    display: none;
}
.label2{
    display: inline-block;
}

.address span{
font-size: 1.3rem;
margin-left: 1rem;
}
#address{
    margin-bottom: 2rem;
}
#phone{
    margin-bottom: 2rem;
}
#acompmail{
    margin-bottom: 2rem;
}
.phone span{
    font-size: 1.3rem;
    margin-left: 1rem;
}

.compemail span{
    font-size: 1.3rem;
    margin-left: 1rem;
}

.googlemap{
    width: 100%;
}